.heading-element__heading {
  margin: 0;
  text-align: left;
  color: var(--color, $black);
  font-size: var(--font-size, 30px);

  .element--alignment-horizontal-center & {
    text-align: center;
  }

  .element--alignment-horizontal-right & {
    text-align: right;
  }
}

// These tag specific selectors will be removed once the heading element has it's own
// custom styling.
h1.heading-element__heading {
  font-size: var(--font-size, 30px);
}

h2.heading-element__heading {
  font-size: var(--font-size, 26px);
}

h3.heading-element__heading {
  font-size: var(--font-size, 22px);
}

h4.heading-element__heading {
  font-size: var(--font-size, 18px);
}

h5.heading-element__heading {
  font-size: var(--font-size, 14px);
}

h6.heading-element__heading {
  font-size: var(--font-size, 14px);
  font-style: italic;
}
